candidate scheme.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ElectionResultsByPercentage">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Candidate" maxOccurs="unbounded">
					<xs:complexType mixed="true">
						<xs:attribute name="name" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>		
		</xs:complexType>
	</xs:element>
</xs:schema>